.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

h1{
  color: #FFD149;
}

#adButton{
  background-color:#080B0C;
  color: #FFD149;
}

#adButton:hover{
  background-color: #8df0fd;
  color: black;
}

#pageTopper:hover{
  filter:hue-rotate(120deg);
}

#navLinks:hover{
  filter:hue-rotate(120deg);
}

#nBell:hover{
  filter:hue-rotate(120deg);
}

#avatar:hover{
  filter:hue-rotate(120deg);
}

#siteIcon:hover{
  filter:hue-rotate(120deg);

}

#username:hover{
  filter:hue-rotate(120deg);
}

#linkId {
  text-decoration: none;
  color: rgb(255, 209, 73);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
